* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

header {
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(207, 205, 205);
}

header div {
   font-size: 2.4rem;
   padding: 1rem 0;
}

.content-container {
   padding: 4rem;
}

h2 {
   text-align: center;
}

.content-innerContainer {
   display: flex;
   align-items: center;
}

.main-player {
   display: flex;
   justify-content: center;
   width:50%;
}

.automated-player {
   display: flex;
   justify-content: center;
   width: 50%;
}

table {
   border-collapse: collapse;
   /* width: 100%; */
}

td {
   padding: 1.7rem 2rem;
   text-align: center;
   border: 1px solid black;
}


th[scope="row"] {
   font-weight: bold;
   border: none; /* Remove border from row headers */
}

thead td {
   font-size: 1.4rem;
   font-weight: bold;
   border: none; 
}