* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   height: 100%;
}

body {
   height: 100%;
}

header {
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgb(207, 205, 205);
   
}

header div {
   font-size: 7rem;
   padding: 1rem 0;
}

.start-session {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.player-option {
   display: flex;
   justify-content: space-between;
   width: 40rem;
}

.option button {
   padding: 1rem;
   font-size: 2rem;
   background: transparent;
   outline: none;
   border: 1px solid black;
   cursor: pointer ;
}

#startGame {
   display: block;
   margin: 0 auto;
}

.option button:hover {
   background: black;
   color: #fff;
}

.start-session > h2 {
   font-size: 4rem;
   margin: 10rem 0 5rem;
}

.content-container {
   padding: 4rem;
}

h2 {
   text-align: center;
}

.content-innerContainer {
   display: flex;
   align-items: center;
}

#startGame {
   display: block;
   font-size: 1.4rem;
   padding: .5rem;
   border: none;
   background-color: #52e3a2;
   color: black;
   border-radius: 1rem;
   cursor: pointer;
   margin: 1rem auto 4rem;
}

.main-player {
   display: flex;
   justify-content: center;
   width:50%;
}

.automated-player {
   display: flex;
   justify-content: center;
   width: 50%;
}

table {
   border-collapse: collapse;
   table-layout: fixed;
}

td {
   padding: 1.7rem 2rem;
   text-align: center;
   border: 1px solid black;
}


th[scope="row"] {
   font-weight: bold;
   border: none; 
}

thead td {
   font-size: 1.4rem;
   font-weight: bold;
   border: none; 
}

#ship-container {
   display: flex;
   gap: 1rem;
   align-items: flex-start;
}

.ship {
   background: grey;
   padding: 1rem;
   font-size: 1.6rem;
   color: black;
   cursor: grab;
}

.ship.horizontal {
   transform: rotate(0deg);
}

.ship.vertical {
   transform: rotate(90deg);
}

.orientations {
   display: none;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

#toggle-orientation {
   padding: .5rem 2rem;
   background: #52e3a2;
   color: rgb(23, 22, 22);
   border: none;
   font-weight: bold;
   margin-right: 2rem;
   cursor: pointer;
   transition: transform .3s ease-in-out;
}

#toggle-orientation:active{
   transform: scale(1.1);
}

/* Hide the modal by default */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 /* Modal Content */
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   display: flex;
   justify-content: center;
 }
 
.modeButton {
   display: flex;
   gap: 4rem;
}

.modeButton button {
   padding: 1rem;
   border: none;
   border-radius: .5rem;
   background-color: #52e3a2;
   color: #000;
}

.modeButton button:hover {
   background-color: #000;
   color: #52e3a2;
}